/* aspectos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500&display=swap');

:root{
    --principal-color:#419197;
    --secundary-color:#4CB2BA;
    --tituloback:130px;
    --subtitulos-size:85px;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
    color: var(--secundary-color);
}

p,a,li,button,table{
    font-family: 'Zen Old Mincho', serif;
}


/* Home */

header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,#010608,80%, #419197);
}
.bg-portafolio .nav-link{
    color: var(--secundary-color);
    transition: .5s;
}
.bg-portafolio .nav-link:hover{
    color: #C7C7C7;
    font-size: 23px;
    padding: 0;
    margin: 0;
}
.bg-portafolio{
    background: #46464673;
    border-radius: 45px;
    max-width: 40%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 4vh;
    left: 30%;
    font-size: 20px;
}

#hero{
    padding-top: 4%;
}

#hero .center{
    padding-top: auto;
}

#hero .center img{
    max-width: 100%;
    padding-top: 15%;
}

#hero .left{
    padding: 0 auto;
    padding-top: 15%;
}
#hero .left h3{
    color: #7C7B7B;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}


#hero .left h2{
    color: #C7C7C7;
    font-size: var(--subtitulos-size);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

#hero .left h1{
    color: var(--principal-color);
    font-size: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

#hero .right{
    margin-left: 3rem;
    display: flex;
    padding-top: 15%;
    text-align: right;
    flex-direction: column;
    width: 4.5%;
}

#hero .right img{
    margin: 1rem 0;
    width: 40px;
}

/* About me */
#hero2 h3, #hero3 h3, #hero4 h3,#hero5 h3{
    text-align: center;
    font-size: 70px;
    position: absolute;
    left: 40%;
    top: 40px;
    color: #4cb3ba23;
}

#hero2 h2, #hero3 h2, #hero4 h2, #hero5 h2{
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
    font-size: 45px;
}

#hero2 .row img{
    max-height: 52vh;
    min-width: 300px;
    
}
.containerImagen{
    position: relative;
}
#hero2 .imgAbout .containerImagen::after{
    content: "";
    background: #4cb3ba00;
    left: 7px;
    top: 7px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    box-shadow: 5px 5px 2px 1px #4CB2BA;
    margin-bottom: 2rem;
}

#hero2 .imgAbout{
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero2 .aboutMe{
    margin-top: 2rem;
    padding: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}

#hero2 .row p{
    color: #C7C7C7;
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
}

/* Projects */

#hero3 .row img{
    max-width: 100% !important; 
    max-height: 100%;
    display: inline;
}

#hero3 .classCarousel .cardProject{
    display: flex;
    justify-content: center;
}

#hero3 .card{
    box-shadow: 5px 5px 5px #4CB2BA;
}
/* #hero3 h2::after{
    content: "Projects";
    position: absolute;
    color: #41919728;
    top: 2.8rem;
    left: 52rem;
    position: fixed;
    font-size: 70px;
} */

#hero3 .card-body .icon{
    max-width: 17% !important;
    margin-bottom: 10px;
}
#hero3 .card-body .git{
    max-width: 13% !important;
    margin: 0 5px;
}

/* Skills*/
#hero4{
    padding-top: 35px;
}
#hero4 .container h3{
    padding-top: 2rem;
    margin-left: 5%;
}

#hero4 .container img{
    padding-top: 8%;
    width: 15%;
    margin: 0 2rem;
}

#hero4 .contentSkill{
    margin-left: 15%;
}

#hero4 .contentSkill h5{
    display: inline;
    position: absolute;
    margin: 2rem;
    padding-left: 10px;
}

/* Education and experience */

#hero5 .imgAbout{
    text-align: center;
}
#hero5 .imgAbout .col-lg-6 h4{
    margin-top: 3rem;
}
#hero5 .imgAbout p{
    color: #fff;
    font-size: 23px;
}
#hero5 h3{
    left: 20%;
}

#hero5 .imgAbout .infoEducation{
    text-align: start;
    margin: 3rem 5rem;
}

#hero5 .imgAbout .infoEducation h4{
    color: #7C7B7B;
}

/* Slider */

.slick-arrow{
    width: 30px;
    height: 30px;
    font-size: 1px;
    color: transparent;
    position: absolute;
    top: 156px;
    right: 0;
    border: 0;
}

.slick-prev{
    left: -30px;
    background: var(--secundary-color) url("../img/projects/arrow.png");
    background-size: 100%;
}

.slick-next{
    right: 0;
    background: var(--secundary-color) url("../img/projects/arrow.png");
    background-size: 100%;
    transform: rotate(180deg);
}

/* media query */

@media (max-width: 992px){
    #hero .right{
        margin-left: 25%;
        width: 10%;
    }
    .bg-portafolio{
        background: #46464673;
        border-radius: 45px;
        max-width: 60%;
        margin: 0 auto;
        padding: 0;
        position: static;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    #hero4 .contentSkill{
        margin-left: 0;
    }
    .bg-portafolio .container{
        justify-content: center;
    }
}

@media (max-width:767px){
    #hero .right{
        flex-direction: row;
        margin-left: 15%;   
    }
    #hero .right img{
        margin: 0 1rem;
    }
    #hero2 h3, #hero3 h3, #hero4 h3,#hero5 h3{
        display: none;
    }
    
    
}
@media (max-width:600px){
    .slick-prev{
        left: 0px;
        z-index: 999;
    }
}

@media (max-width:450px){
    #hero .right img{
        margin: 0 .2rem;
    }
}


/* Tablet */

@media screen and (min-width:768px) and (max-width:1025px) {
    #hero4 .container img{
        width: 12%;
    }
    #hero4 .contentSkill h5{
        margin: 1rem;
    }
    #hero2 h3, #hero3 h3, #hero4 h3,#hero5 h3{
        display: none;
    }
}

/* SmartPhone */


@media screen and (min-width:320px) and (max-width:767px) {
    #hero .left h2{
        font-size: 2.5rem;
    }
    #hero .left h1{
        font-size: 1.8rem;
    }
    #hero4 .container img{
        width: 12%;
    }
    #hero4 .contentSkill h5{
        margin: 1rem;
    }
    #hero .center img {
        max-width: 80%;
        padding-top: 15%;
        margin-left: 25px;
    }
    #hero2 .imgAbout .containerImagen::after{
        width: 100%;
    }
    #hero2 .row img {
        min-width: 256px;
    }
    #hero2 h2, #hero3 h2, #hero4 h2, #hero5 h2{
        padding-top: 2.5rem;
        font-size: 40px;
    }
    #hero2 .row p{
        font-size: 20px;
    }
}